//-------------------------------------------------------------------------------
// Font Import
//-------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Lora');

//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Colors
$color-background 	: #061C30;
$color-text			: #848d96;
$color-link			: #848d96;
$color-link-hover	: #CA486d; 
$color-maverick		: #47bec7; 

// Breakpoints
$bp-smallish 		: 1200px;
$bp-tablet 			: 800px;
$bp-mobile 			: 500px;

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

html {
	background-color: $color-background; 
}
body.page-template-page-fullsingle-split {
	background-color: $color-background; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 21px;
	line-height: 33px;
	letter-spacing: -0.2px;
	color: $color-text;
	animation: fadein 2s;

	//-------------------------------------------------------------------------------
	// Site Origin Page Builder Global Styles
	//-------------------------------------------------------------------------------

	.panel-grid {
		margin-bottom: 0 !important; // reset
	}

	p {
		// margin-bottom: 28px;
		color: $color-text;

	}

	ul {

		li {
			list-style: none;
			padding-left: 0;
			margin-left: 0;
		}
	}

	.panel-row-style {
		padding: 0;
		margin: 0;
	}

	//-------------------------------------------------------------------------------
	// Sections
	//-------------------------------------------------------------------------------

	.fs-split {

		.split-image {
			height: 100vh;
			background-image:url(https://s3.amazonaws.com/fullsingle/split-bg.jpg); // Need to include within layout cells on future Page Builder update
			background-position:center center;
			background-size:cover;

			@media (max-width: $bp-tablet ) {
				height: 80vh;
			}	

		}

		.split-content {
			height: 100vh;

			.split-intro {
				padding: 80px 80px 0 80px;
				font-weight: 600;
				font-size: 64px; 
				line-height: 80px;
				letter-spacing: -2px;

				@media (max-width: $bp-smallish ) {
					padding: 60px 60px 0 60px;
				}	

				@media (max-width: $bp-tablet ) {
					padding: 40px 40px 0 40px;
				}	

				p {
					color: #CCC;
				}

				h3 {
					font-weight: 400;
					text-transform: uppercase;
					font-size: 16px; 
					line-height: 16px;
					margin-bottom: 40px;
					letter-spacing: 0.4px;
					color: $color-maverick;
				}

			}

			.split-bio {
				padding: 40px 80px 0 80px;
				font-family: 'Lora', serif;

				@media (max-width: $bp-smallish ) {
					padding: 40px 60px 0 60px;
				}

				@media (max-width: $bp-tablet ) {
					padding: 40px 40px 0 40px;
				}	

				p {
					color: $color-text;
				}
	
				a {
					color: $color-link;
					transition-duration: 0.5s;
					border-bottom: 1px dotted $color-link;

					&:hover {
						color: $color-link-hover;
						transition-duration: 0.1s;
						border-bottom: 1px dotted $color-link-hover;
					}

				}			

			}

			.split-lists {
				padding: 60px 80px 40px 80px;

				@media (max-width: $bp-smallish ) {
					padding: 40px 60px 40px 60px;
				}

				@media (max-width: $bp-tablet ) {
					padding: 40px 40px 20px 40px;
				}	

				h3 {
					font-weight: 400;
					text-transform: uppercase;
					font-size: 11px;
					line-height: 11px;
					margin-bottom: 31px;
					color: $color-text;
					letter-spacing: 2px;
					opacity: 0.5;
				}

				ul {
					margin-right: 10px;

					li {
						font-size: 16px;
						line-height: 16px;	
						margin-bottom: 12px;
						
						a {
							color: $color-link;
							transition-duration: 0.5s;

							&:hover {
								color: $color-link-hover;
								transition-duration: 0.1s;
							}

						}
						
					}

				}

			}

		}
  
	}

}
