//-------------------------------------------------------------------------------
// Google Font Import
//-------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Lora');

//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Colors
$color-background 	: #061C30;
$color-text			: #848d96;
$color-link			: #848d96;
$color-link-hover	: #CA486d; 
$color-maverick		: #47bec7; 
$color-tagline		: #CCCCCC; 

// Breakpoints
$bp-smallish 		: 1200px;
$bp-tablet 			: 800px;
$bp-mobile 			: 500px;

// Images
$image-background	: url('../../images/background.jpg');

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

html {
	background-color: $color-background; 
}
body.page-template-page-fullsingle-split {
	background-color: $color-background; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 21px;
	line-height: 33px;
	letter-spacing: -0.2px;
	color: $color-text;
	animation: fadein 2s;

	//-------------------------------------------------------------------------------
	// Global Styles
	//-------------------------------------------------------------------------------


	p {
		color: $color-text;
	}

}

//-------------------------------------------------------------------------------
// Sections
//-------------------------------------------------------------------------------

.fs-split {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@media (max-width: $bp-tablet ) {
		height: auto;
	}	

	//-------------------------------------------------------------------------------
	// Column - Big Image
	//-------------------------------------------------------------------------------

	.split-image {
		width: 50%;
		height: 100vh;
		background-image: $image-background; 
		background-position:center center;
		background-size:cover;

		@media (max-width: $bp-tablet ) {
			height: 80vh;
			width: 100%;
		}	

	}

	//-------------------------------------------------------------------------------
	// Column - Content 
	//-------------------------------------------------------------------------------

	.split-content {
		width: 50%;
		height: 100vh;

		@media (max-width: $bp-tablet ) {
			width: 100%;
			height: auto;
		}	

		//-------------------------------------------------------------------------------
		// Intro Text
		//-------------------------------------------------------------------------------

		.split-intro {
			padding: 80px 80px 0 80px;
			font-weight: 600;
			font-size: 64px; 
			line-height: 80px;
			letter-spacing: -2px;

			@media (max-width: $bp-smallish ) {
				padding: 60px 60px 0 60px;
			}	

			@media (max-width: $bp-tablet ) {
				padding: 40px 40px 0 40px;
			}	

			p {
				color: $color-tagline;
			}

			h1 {
				font-weight: 400;
				text-transform: uppercase;
				font-size: 16px; 
				line-height: 16px;
				margin-bottom: 40px;
				letter-spacing: 0.4px;
				color: $color-maverick;
			}

		}

		//-------------------------------------------------------------------------------
		// Biography
		//-------------------------------------------------------------------------------

		.split-bio {
			padding: 40px 80px 0 80px;
			font-family: 'Lora', serif;

			@media (max-width: $bp-smallish ) {
				padding: 40px 60px 0 60px;
			}

			@media (max-width: $bp-tablet ) {
				padding: 40px 40px 0 40px;
			}	

			p {
				color: $color-text;
			}

			a {
				color: $color-link;
				transition-duration: 0.5s;
				border-bottom: 1px dotted $color-link;

				&:hover {
					color: $color-link-hover;
					transition-duration: 0.1s;
					border-bottom: 1px dotted $color-link-hover;
				}

			}			

		}

		//-------------------------------------------------------------------------------
		// Lists
		//-------------------------------------------------------------------------------

		.split-lists {
			padding: 60px 80px 40px 80px;

			@media (max-width: $bp-smallish ) {
				padding: 40px 60px 40px 60px;
			}

			@media (max-width: $bp-tablet ) {
				padding: 40px 40px 20px 40px;
			}	

			.split-list {
				width: 30%;
				display: inline-block;
				margin-bottom: 40px;

				@media (max-width: $bp-mobile ) {
					width: 90%;
				}	

				h3 {
					font-weight: 400;
					text-transform: uppercase;
					font-size: 11px;
					line-height: 11px;
					margin-bottom: 31px;
					color: $color-text;
					letter-spacing: 2px;
					opacity: 0.5;
				}

				ul {
					

					li {
						font-size: 16px;
						line-height: 16px;	
						margin-bottom: 12px;
						
						a {
							color: $color-link;
							transition-duration: 0.5s;

							&:hover {
								color: $color-link-hover;
								transition-duration: 0.1s;
							}

						}
						
					}

				}

			}	

		}

		//-------------------------------------------------------------------------------
		// Credit
		//-------------------------------------------------------------------------------

		//	To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split 
		//	this really helps contribute towards us developing more templates and means the world to me!
		//	Cheers, Rob (@robhope)

		.split-credit {
			opacity: 0.4;
			padding: 0 80px 40px 80px;

			@media (max-width: $bp-smallish ) {
				padding: 0 60px 40px 60px;
			}

			@media (max-width: $bp-tablet ) {
				padding: 0 40px 20px 40px;
			}	

			p {
				font-size: 12px; 
				line-height: 14px;

				a { 
					color: $color-text;
				}

			}

		}

	}

}